In [1]:
import pandas as pd 
import numpy as np 
import statsmodels.formula.api as sm
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("twin_cleaned.csv")

In [3]:
df.head()

,first,educ,educt,hrwage,lwage,age,white,female,educt_t,age2,dlwage,deduc,deduct
0,1.0,16.0,16.0,11.935573,2.479523,33.251190,1,1,16.0,1105.64160,0.259346,0.0,0.0
1,NaN,16.0,16.0,9.208958,2.220177,33.251190,1,1,16.0,1105.64160,-0.259346,0.0,0.0
2,NaN,12.0,16.0,9.283223,2.228209,43.570145,1,1,12.0,1898.35750,-0.721318,-6.0,-4.0
3,1.0,18.0,12.0,19.096916,2.949527,43.570145,1,1,16.0,1898.35750,0.721318,6.0,4.0
4,NaN,12.0,12.0,15.447336,2.728481,30.983910,1,0,12.0,960.00262,-0.129809,0.0,0.0

In [4]:
model_ovb = sm.ols(formula = "lwage~educ", data=df)
results_ovb = model_ovb.fit(cov_type = "HC1")
print(results_ovb.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.116
Model:                            OLS   Adj. R-squared:                  0.115
Method:                 Least Squares   F-statistic:                     78.38
Date:                Mon, 21 Nov 2022   Prob (F-statistic):           7.49e-18
Time:                        05:41:25   Log-Likelihood:                -594.51
No. Observations:                 674   AIC:                             1193.
Df Residuals:                     672   BIC:                             1202.
Df Model:                           1
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.0082      0.158      6.368      0.000       0.698       1.319
educ           0.1021      0.012      8.853      0.000       0.079       0.125
==============================================================================
Omnibus:                       22.914   Durbin-Watson:                   1.454
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.531
Skew:                           0.310   Prob(JB):                     8.63e-08
Kurtosis:                       3.879   Cond. No.                         97.3
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [5]:
model_d = sm.ols(formula = "dlwage~deduc-1", data=df)
results_d = model_d.fit(cov_type = "HC1")
print(results_d.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 dlwage   R-squared (uncentered):                   0.031
Model:                            OLS   Adj. R-squared (uncentered):              0.029
Method:                 Least Squares   F-statistic:                              18.92
Date:                Mon, 21 Nov 2022   Prob (F-statistic):                    1.57e-05
Time:                        05:41:25   Log-Likelihood:                         -498.25
No. Observations:                 674   AIC:                                      998.5
Df Residuals:                     673   BIC:                                      1003.
Df Model:                           1
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
deduc          0.0611      0.014      4.350      0.000       0.034       0.089
==============================================================================
Omnibus:                       46.257   Durbin-Watson:                   2.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              194.037
Skew:                           0.005   Prob(JB):                     7.34e-43
Kurtosis:                       5.629   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors are heteroscedasticity robust (HC1)

In [6]:
df["educf"] = df["educ"]*df["female"]

In [7]:
df.head()

,first,educ,educt,hrwage,lwage,age,white,female,educt_t,age2,dlwage,deduc,deduct,educf
0,1.0,16.0,16.0,11.935573,2.479523,33.251190,1,1,16.0,1105.64160,0.259346,0.0,0.0,16.0
1,NaN,16.0,16.0,9.208958,2.220177,33.251190,1,1,16.0,1105.64160,-0.259346,0.0,0.0,16.0
2,NaN,12.0,16.0,9.283223,2.228209,43.570145,1,1,12.0,1898.35750,-0.721318,-6.0,-4.0,12.0
3,1.0,18.0,12.0,19.096916,2.949527,43.570145,1,1,16.0,1898.35750,0.721318,6.0,4.0,18.0
4,NaN,12.0,12.0,15.447336,2.728481,30.983910,1,0,12.0,960.00262,-0.129809,0.0,0.0,0.0

In [8]:
model1 = sm.ols(formula = "hrwage~educ + female +educf", data=df)
results1 = model1.fit(cov_type = "HC1")
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrwage   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                  0.151
Method:                 Least Squares   F-statistic:                     29.80
Date:                Mon, 21 Nov 2022   Prob (F-statistic):           4.28e-18
Time:                        05:41:25   Log-Likelihood:                -2630.6
No. Observations:                 674   AIC:                             5269.
Df Residuals:                     670   BIC:                             5287.
Df Model:                           3
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -18.6312      7.473     -2.493      0.013     -33.277      -3.985
educ           2.5974      0.570      4.559      0.000       1.481       3.714
female        12.7693      7.906      1.615      0.106      -2.726      28.265
educf         -1.3279      0.601     -2.210      0.027      -2.506      -0.150
==============================================================================
Omnibus:                      601.899   Durbin-Watson:                   1.518
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19908.763
Skew:                           3.914   Prob(JB):                         0.00
Kurtosis:                      28.449   Cond. No.                         285.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [9]:
model2 = sm.ols(formula = "hrwage~educ +female + educ:female", data = df)
results2 = model2.fit(cov_type = "HC1")
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrwage   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                  0.151
Method:                 Least Squares   F-statistic:                     29.80
Date:                Mon, 21 Nov 2022   Prob (F-statistic):           4.28e-18
Time:                        05:41:25   Log-Likelihood:                -2630.6
No. Observations:                 674   AIC:                             5269.
Df Residuals:                     670   BIC:                             5287.
Df Model:                           3
Covariance Type:                  HC1
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     -18.6312      7.473     -2.493      0.013     -33.277      -3.985
educ            2.5974      0.570      4.559      0.000       1.481       3.714
female         12.7693      7.906      1.615      0.106      -2.726      28.265
educ:female    -1.3279      0.601     -2.210      0.027      -2.506      -0.150
==============================================================================
Omnibus:                      601.899   Durbin-Watson:                   1.518
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19908.763
Skew:                           3.914   Prob(JB):                         0.00
Kurtosis:                      28.449   Cond. No.                         285.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [10]:
df["pexp"] = df["age"]- df["educ"]- 7
df["educ2"] = (df["educ"])**2
df["pexp2"] = (df["pexp"])**2
df["pexp_educ"] = (df["pexp"])*(df["educ"])

In [11]:
main = sm.ols(formula = "hrwage~educ + pexp", data = df)
results_main = main.fit(cov_type = "HC1")
df["resid2"] = (results_main.resid)**2
df.head()

,first,educ,educt,hrwage,lwage,age,white,female,educt_t,age2,dlwage,deduc,deduct,educf,pexp,educ2,pexp2,pexp_educ,resid2
0,1.0,16.0,16.0,11.935573,2.479523,33.251190,1,1,16.0,1105.64160,0.259346,0.0,0.0,16.0,10.251190,256.0,105.086896,164.01904,28.832263
1,NaN,16.0,16.0,9.208958,2.220177,33.251190,1,1,16.0,1105.64160,-0.259346,0.0,0.0,16.0,10.251190,256.0,105.086896,164.01904,65.548188
2,NaN,12.0,16.0,9.283223,2.228209,43.570145,1,1,12.0,1898.35750,-0.721318,-6.0,-4.0,12.0,24.570145,144.0,603.692025,294.84174,5.533098
3,1.0,18.0,12.0,19.096916,2.949527,43.570145,1,1,16.0,1898.35750,0.721318,6.0,4.0,18.0,18.570145,324.0,344.850285,334.26261,32.951733
4,NaN,12.0,12.0,15.447336,2.728481,30.983910,1,0,12.0,960.00262,-0.129809,0.0,0.0,0.0,11.983910,144.0,143.614099,143.80692,58.239102

In [12]:
aux = sm.ols(formula = "resid2~educ + pexp + educ2 + pexp2 + pexp_educ")
results_aux = aux.fit(cov_type = "HC1")
hypotheses = "(educ=0), (pexp=0), (educ2=0), (pexp2=0), (pexp_educ=0)"
ftest = results_aux.f_test(hypotheses)

TypeError: Model.from_formula() missing 1 required positional argument: 'data'